@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-800 text-gray-200 select-none;
}

input,
textarea {
	@apply rounded-md border-gray-900 border-2 bg-gray-700 focus:outline-none;
}

button {
	@apply bg-gray-700 hover:bg-gray-600 py-0.5 px-1 rounded-md;
}

button:disabled {
	@apply bg-gray-700 hover:bg-gray-700 text-gray-500;
}

h1 {
	@apply text-4xl;
}
h2 {
	@apply text-3xl;
}
h3 {
	@apply text-2xl;
}
h4 {
	@apply text-xl;
}
